default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: !input username here!
  password: !input password here!
  socket: !input socket here!

development:
  <<: *default
  database: mission-forest_development

test:
  <<: *default
  database: mission-forest_test

production:
  url: <%= ENV['DATABASE_URL'] %>
