<div class="main">
  <div class="container">
    <div class="page-header">
      <h2>ミッション編集</h2>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <p>必要な情報を入力してください</p>
      </div>
      <div class="panel-body">
        <%= render 'editform' %>
      </div>
    </div>
  </div>
</div>
